
    <div class="contenedor1">
        <div class="contenedor1">
                <img class="imgRMPRetroS" src="../../assets/ui_images/imagenInicio-removebg-preview.png" alt="">
            <p class="p1RMP" >¡Bienvenidos al futuro de las reuniones de retrospectiva!<br> RetroS, la innovadora herramienta para las reuniones 
                            de retrospectiva, con la cual podras<br>realizar múltiples acciones relacionadas con esta parte de la metodología ágil<br>              
            </p>
        </div>
    </div>

    <div class="contenedor1">
        <p class="p234RMP">Con esta nueva herramienta, los equipos tendrán a su disposición una plataforma intuitiva y fácil de usar que les 
            permitirá llevar<br> sus reuniones al siguiente nivel, permitiéndoles llevar un registro de los resultados de 
            sus reuniones y compartirlos</p>
            <img class="imgRMPReunion" src="../../assets/ui_images/reunion.png" alt="">
    </div>

    <div class="contenedor1">
        <p class="p234RMP">Además, RetroS es altamente colaborativa, lo que permite a los miembros 
            del equipo interactuar y compartir ideas en tiempo real</p>
            <img class="imgRMPReunion" src="../../assets/ui_images/istockphoto-1356372715-612x612.png" alt="">
    </div>
<section id="comienzoRMP">
    <div class="contenedor1">
        <p class="p234RMP"><br>Con RetroS, las reuniones de retrospectiva serán más productivas, más eficientes 
            y más divertidas que nunca.<br>¡Únete a la revolución de las reuniones de retrospectiva y pruébala hoy mismo! </p>
        <button type="button" pButton class="p-button-primary btnRMPComenzar" style="margin-top: 30px;" (click)="login()" label="COMENZAR"></button><br><br>
        <h3 style="margin-top: -10px; text-align: center; color: rgb(61, 61, 61);">Para más información contactar a retroshelp@ejemplo.es</h3><br>
    </div>
</section>
<!--, como: <br>&#8226;&nbsp;Seguimiento<br>-->
 